html,
body {
  height: 100%;
  line-height: 1.5em;
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue";
  font-weight: 400;
  background: #fff;
  color: #333
}

header {
  border-top: .2em solid #0bb
}

.container {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1rem
}

a {
  text-decoration: none;
  color: #099
}

b {
  font-weight: 700
}

h2 {
  display: inline-block;
  font-weight: 400;
  font-variant: small-caps;
  text-transform: low
}

h2 a {
  display: block;
  line-height: 1.5em;
  margin-bottom: .5em;
  border-bottom: 1px solid transparent;
  font-size: 2em;
  color: #000
}

h2 a:focus,
h2 a:hover {
  border-bottom: 1px solid #000
}

p {
  padding: .5em 0
}

p a {
  border-bottom: 1px solid;
  color: #099
}

p a:focus,
p a:hover {
  color: #000;
  border-color: #ccc
}

h1 {
  padding: .5em 0;
  line-height: 1em;
  font-size: 2em
}

h1 a {
  color: #333
}

h1 strong {
  font-weight: 700
}

header small {
  font-size: .5em;
  font-weight: 300;
  color: #999;
  display: block
}

section {
  padding-bottom: 2em
}

.row {
  margin: 0
}

.row:after,
.row:before {
  display: table;
  content: "";
  line-height: 0
}

.row:after {
  clear: both
}

.col {
  overflow: hidden;
  padding-bottom: 1em
}

.col h3 {
  font-weight: 700
}

.col p {
  padding: 0 0 .5em;
  line-height: 1.5em
}

.col a {
  margin-top: 0;
  white-space: nowrap
}

.col a:focus,
.col a:hover {
  color: #066
}

.col a:active {
  color: #000
}

#portfolio a:visited {
  color: #333;
  border-color: #ccc
}

.col i {
  color: #999
}

.contact-wrapper{
  height: 100%;
  background: #eee;
  padding-top: 2rem;
}

label {
  display: none
}

fieldset {
  padding-top: 1em
}

fieldset p {
  padding: 2px 0;
  line-height: 0
}

fieldset button {
  margin: .5em 0
}

button,
input,
textarea {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue";
  font-size: 1em;
  line-height: 1em
}

input,
textarea {
  padding: 1em;
  width: 100%;
  margin: 0;
  border: 0;
  border-left: .2em solid #ccc;
  background: #fff;
}

input:focus,
textarea:focus {
  border-color: #0bb;
  outline: 0
}

.btn,
button {
  transition: background .3s;
  display: block;
  padding: 1em 1rem;
  border: 0;
  border-radius: 5px;
  background: #0bb;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none
}

.btn:focus,
.btn:hover,
button:focus,
button:hover {
  background: #099;
  color: #fff
}

.cta {
  margin: 1em 0 2em;
  padding: 0;
  text-transform: uppercase
}

.btn-default {
  display: none;
  font-weight: 400;
  background: #555;
  color: #eee
}

.btn-default:focus,
.btn-default:hover {
  background: #444;
  color: #fff
}

@media screen and (min-width: 30em) and (min-height: 15em) {
  body {
    font-size: 1.125em
  }
  header {
    font-size: 1.25em
  }
}

@media screen and (min-width: 40em) and (min-height: 20em) {
  body {
    font-size: 1.25em
  }
  header {
    font-size: 1.5em
  }
  .cta {
    border-radius: 5px;
    margin: 1em 0 2em
  }
  .btn,
  button {
    padding: .7em 1.2em;
    min-width: 20%;
    font-size: 1.2em;
    font-weight: 300
  }
  .btn-contact {
    border-radius: 0 5px 5px 0;
    float: right
  }
  .btn-default {
    padding: .7em 0;
    display: block
  }
}

@media (min-width: 50em) {
  .row>.col {
    width: 50%;
    float: left;
    padding-top: 1em
  }
  .row .col:nth-child(2n+1) {
    clear: left
  }
  .col p {
    font-size: .8em;
    padding-bottom: .2em
  }
}
