/* Structure */

html, body {
  height: 100%;
  line-height: 1.5em;
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue";
  font-weight: 300;
  background: #f1f4f4;
  color: #333;
}
header {
  border-top: .2em solid #0bb;
}
.container {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1rem;
}
/* Typography */

a {
  text-decoration: none;
  color: #099;
}
b {
  font-weight: 700
}
h2 {
  font-weight: 300;
  font-variant: small-caps;
}
h2 a {
  display: block;
  line-height: 2em;
  font-size: 2em;
  color: #000
}
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}
p {
  padding: .5em 0;
}
p a {
  text-decoration: underline;
  color: #099;
}
p a:hover, p a:focus {
  text-decoration: none;
}
/* Header */

h1 {
  padding: .5em 0;
  line-height: 1em;
  font-size: 2em;
}
h1 a {
  color: #333
}
h1 strong {
  font-weight: 700;
}
header small {
  font-size: .5em;
  color: #999;
  display: block;
}
/* Call to action */

.cta {
  padding: 2em 0;
  line-height: 3em;
}
.cta .btn {
  margin-right: 1em;
}
.cta span {
  white-space: nowrap;
}
/* Sections */

section {
  padding-bottom: 2em;
}
/* Portfolio - grid */

.row {
  margin: 0;
}
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
/* Portfolio */

.col {
  overflow: hidden;
  padding-bottom: 1em
}
.col h3 {
  font-weight: 700;
}
.col p {
  padding: 0;
  line-height: 1.5em;
  padding-bottom: .5em;
}
.col a {
  margin-top: 0;
  white-space: nowrap;
}
.col a:hover, .col a:focus {
  color: #068;
}
.col a:active {
  color: #000;
}
#portfolio a:visited {
  color: #333;
}
.col i {
  color: #999
}
/* Contact form */

#contact {
  height: 100%;
}
label {
  display: none;
}
fieldset {
  padding-top: 1em;
}
fieldset p {
  padding: 1px 0;
  line-height: 0;
}
input, textarea {
  padding: 1em;
  width: 100%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  color: #333;
}
input:focus, textarea:focus {
  border-color: #000;
}
button, .btn {
  transition: background .3s;
  padding: 1em;
  line-height: 1em;
  margin: .5em 0;
  min-width: 20%;
  background: #0bb;
  color: #fff;
  border: 0;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
button:hover, .btn:hover {
  background: #099;
  color: #fff;
}
input, textarea, button {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue";
  font-size: 1em;
}
/* Responsive */

@media (min-width: 30em) {
  body {
    font-size: 1.125em;
 }
 header {
   font-size: 1.25em;
}
}
@media (min-width: 40em) {
  body {
    font-size: 1.25em;
 }
 header {
   font-size: 1.5em;
}
}
@media (min-height: 20em) {} @media (min-height: 40em) {
  h2 a {
    display: block;
    font-size: 2em
 }
}
@media (min-width: 50em) {
  .row > .col {
    width: 50%;
    float: left;
    padding-top: 1em;
 }
 .row .col: nth-child(2n+1) {
   clear: left;
}
.col p {
  font-size: .8em;
  padding-bottom: .2em;
}
}
